<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="<?php echo base_url().'/style/index/'?>css/category.css" rel="stylesheet" />
<script type="text/javascript" src="<?php echo base_url(). '/style/index/'?>js/index.js"></script>

<?php $this->load->view('index/head.html')?> 
<div id="main">
		<div class='news'>
			<?php foreach($article as $v):?>
			<div class='newsList'>
				<div class='newsImage'>
					<a href=""><img src="<?php echo base_url().'/uploads/'.$v['thumb']?>"/></a>
				</div>
				<div class='newsContent'>
					<h3><a href=""><?php echo $v['title']?></a></h3>
					<p><?php echo $v['info']?></p>
					<a href="<?php echo site_url().'/index/home/detail'?>" class='more'>
						更多>>	
					</a>
				</div>
			</div>
			<?php endforeach ?>
		</div>
		<?php $this->load->view('index/right.html')?>
	</div>

	<?php $this->load->view('index/foot.html')?>